/* forgot-password.component.css */

.forgot-password-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: black; /* Set the background color to black */
  color: white; /* Set text color to white for better contrast */
  height: 550px; /* Set height to auto */
}

.forgot-password-container h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.forgot-password-container p {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: white; /* Set label color to white */
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333; /* Darken the input background color */
  color: white; /* Set text color to white */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: brown;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color:rgb(167, 13, 13);
}
