<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="background-color: black;">
  <div class="forgot-password-container">
    <h2>Forgotten Password</h2>
    <p>Enter your email address below to reset your password.</p>
    <form >
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" id="email" name="email" [(ngModel)]="emailInput" (input)="updateEmail($event)" required>
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPasswordInput" (input)="updatePasswordInput($event)" required>
      </div>
      <button type="submit" (click)="updatePassword()">Reset Password</button>
      <div style="color: green;">{{message}}</div>
    </form>
  </div>
</body>
</html>
