<!-- 
<h2 class="card-title text-center">
     
</h2>
      <ul class="list-group">
        <li *ngFor="let product of products" class="list-group-item d-flex justify-content-between align-items-center">
          <span>{{product.name}} - {{product.email}}</span>
          <a class="btn btn-info btn-sm" href="products/{{product.newid}}" >Details</a>
        </li>
      </ul>
     -->
     <div style="background-color: black;">
      <div class="card bg-dark text-white">
          <img src="assets/footer2.jpg" class="card-img" alt="...">
          <div class="card-img-overlay" style="color: black;">
            
          </div>
        </div>
        <div class="container text-center" >
          <div class="row">
        <div class="card mt-3 col-lg-6" *ngFor="let card of products" >
          <div class="row g-0">
            <!-- <div class="col-md-4">
              <img src="assets/sky.jpg" class="img-fluid rounded-start" alt="...">
            </div> -->
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{card.name}}</h5>
                <p class="card-text">{{card.description}}</p>
                <p class="card-text" style="color: palevioletred;">{{ card.price | currency:'EGP':'symbol':'1.2-2' }}</p>
                <div><button type="button" style="background-color: rgb(150, 91, 37);">Add to card</button></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="product-container">
                <div class="image-container" (mouseover)="toggleMessage(true)" (mouseout)="toggleMessage(false)">
                  <img src="{{card.image}}" alt="Product Image">
                  