<section class="h-100 h-custom" style="background-color:black;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo"> -->
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2" style="color: brown;">New Account</h3>
  
              <form class="px-md-2" [formGroup]="form">
  
                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="text" id="form3Example1q" class="form-control" required formControlName="name"/>
                  <label class="form-label" for="form3Example1q" >Name</label><span style="color: red;">*</span>
                </div>
                <div *ngIf="f['name'].touched && f['name'].invalid" style="color: red;">
                  <div *ngIf="f['name'].errors && f['name'].errors['required']">Name is required</div>
                </div>
  
                <div class="row">
                  <div class="col-md-12 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input type="text" id="form3Example1w" class="form-control"  formControlName="email"/>
                      <label class="form-label" for="form3Example1w">E-mail</label><span style="color: red;">*</span>
                    </div>
                    <div *ngIf="f['email'].touched && f['email'].invalid" style="color: red;">
                      <div *ngIf="f['email'].errors && f['email'].errors['required']">E-mail is required</div>
                      <div *ngIf="f['email'].errors && f['email'].errors['email']"> Invalid E-mail</div>
                    </div>
  
                  </div>
                  <div class="col-md-12 mb-4">
                    <div data-mdb-input-init class="form-outline datepicker">
                      <input type="password" class="form-control" id="exampleDatepicker1" required formControlName="password"/>
                      <label for="exampleDatepicker1" class="form-label">Password</label><span style="color: red;">*</span>
                    </div>
                  </div>
                  <div *ngIf="f['password'].touched && f['password'].invalid" style="color: red;">
                    <div *ngIf="f['password'].errors && f['password'].errors['required']">password is required</div>
                    <div *ngIf="f['password'].errors && f['password'].errors['minlength']">Password must be at least 8 characters long</div>
                  </div>
                </div>
  
                <!-- <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                  <div class="col-md-6">
  
                    <select data-mdb-select-init>
                      <option value="1" disabled>Gender</option>
                      <option value="2">Female</option>
                      <option value="3">Male</option>
                    </select>
  
                  </div>
                </div>
                <div class="mb-4">
  
                    <select data-mdb-select-init>
                      <option value="1" disabled>Gategory</option>
                      <option value="2">New</option>
                      <option value="3">Best sellers</option>
                      <option value="4">Lips</option>
                      <option value="5">Face</option>
                      <option value="6">Eyes</option>
                    </select>
    
                  </div> -->
  
                <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-lg mb-1" style="background-color: brown;" (click)="submit()" >Submit</button>
                    <span style="color: green;">{{message}}</span>
                    <span style="color:green;">{{message2}}</span>
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>